<h2>Nova Ordem de Serviço</h2>
<hr>
<form [formGroup]="orcamentoForm">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="tipo">Tipo do veículo</label>
            <select (change)="getVehicles($event.target.value)" id="tipo" class="form-control">
                <option selected>Selecione</option>
                <option *ngFor="let t of tipos" [value]="t.value">
                    {{ t.name }}
                </option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="marca">Marca do veículo</label>
            <select formControlName="marca" (change)="getVehiclesByBrand($event.target.value)" id="marca"
                class="form-control">
                <option selected>Selecione</option>
                <option *ngFor="let v of vehiclesBrands" [value]="v.id">
                    {{ v.name }}
                </option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="modelo">Modelo do veículo</label>
            <select formControlName="modelo" id="modelo" class="form-control">
                <option selected>Selecione</option>
                <option *ngFor="let v of vehiclesName" [value]="v.id">
                    {{ v.name }}
                </option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="placa">Placa</label>
            <input formControlName="placa" type="text" class="form-control" id="placa"
                placeholder="Informe a placa">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="cpfcnpj">CPF / CNPJ do Cliente</label>
            <input formControlName="cpfcnpj" type="text" class="form-control" id="cpfcnpj"
                placeholder="Informe o documento">
        </div>
        <div class="form-group col-md-6">
            <label for="nome">Nome do Cliente</label>
            <input formControlName="nome" type="text" class="form-control" id="nome"
                placeholder="Informe o nome do cliente">
        </div>
        <div class="form-group col-md-3">
            <label for="fone">Telefone</label>
            <input formControlName="fone" type="text" class="form-control" id="fone" placeholder="(00) 00000-0000">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input formControlName="email" type="text" class="form-control" id="email" placeholder="Informe um email">
        </div>
    </div>
    <hr>
    <div class="form-row">
        <div class="form-group col-6">
            <label for="relatado">Problema Relatado</label>
            <textarea formControlName="relatado" style="resize: none" class="form-control" id="relatado"
                rows="3"></textarea>
            <small class="form-text text-muted float-right mt-2">0/500</small>
        </div>
        <div class="form-group col-6">
            <label for="diagnosticado">Problema Diagnosticado</label>
            <textarea formControlName="diagnosticado" style="resize: none" class="form-control" id="diagnosticado"
                rows="3"></textarea>
            <small class="form-text text-muted float-right mt-2">0/500</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="servico">Serviço</label>
            <select (change)="setValue($event.target.value)" formControlName="servico" id="servico"
                class="form-control">
                <option selected>Selecione</option>
                <option *ngFor="let s of services" [value]="s.id">
                    {{ s.nome }}
                </option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="pecas">Peças / Serviços</label>
            <input formControlName="pecas" type="text" class="form-control" id="pecas" placeholder="Peças trocadas">
        </div>
        <div class="form-group col-md-2">
            <label for="valor">Valor</label>
            <input currencyMask [options]="optCurrency" formControlName="valor" type="text" class="form-control"
                id="valor">
        </div>
        <div class="form-group col-md-1 btn-plus">
            <p-button (click)="addService(orcamentoForm.value)" id="button" icon="pi pi-plus"></p-button>
        </div>
    </div>
    <div *ngIf="servicesAdded.length" class="wrapper mt-3">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th scope="col">Serviço</th>
                    <th scope="col">Peças / Serviços</th>
                    <th scope="col">Valor</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of servicesAdded; let i = index">
                    <td>{{ serviceName(row.servicoId) }}</td>
                    <td>{{ row.descricaoServico }}</td>
                    <td>{{ row.valorServico | currency: 'BRL' }}</td>
                    <td>
                        <i (click)="removeItem(i)" class="pi pi-trash"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="text-center">
        <button [disabled]="orcamentoForm.invalid" (click)="saveOS(orcamentoForm.value)" type="submit" class="btn btn-primary col-md-2">Salvar OS</button>
    </div>
</form>