<h2>Nova Ordem de Serviço</h2>
<hr>
<form [formGroup]="orcamentoForm">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="tipo">Tipo do veículo</label>
            <select (change)="getVehicles($event.target.value)" id="tipo" class="form-control">
                <option selected>Selecione</option>
                <option *ngFor="let t of tipos" [value]="t.value">
                    {{ t.name }}
                </option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="marca">Marca do veículo</label>
            <select (change)="getVehiclesByBrand($event.target.value)" [disabled]="!vehiclesBrands.length" id="marca"
                class="form-control">
                <option selected>Selecione</option>
                <option *ngFor="let v of vehiclesBrands" [value]="v.id">
                    {{ v.name }}
                </option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="modelo">Modelo do veículo</label>
            <select formControlName="veiculo" id="modelo" class="form-control">
                <option selected>Selecione</option>
                <option *ngFor="let v of vehiclesName" [ngValue]="v.id">
                    {{ v.name }}
                </option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="cpf">CPF do Cliente</label>
            <input formControlName="cpf" type="text" class="form-control" id="cpf" placeholder="Informe um CPF">
        </div>
        <div class="form-group col-md-6">
            <label for="nome">Nome do Cliente</label>
            <input formControlName="nome" type="text" class="form-control" id="nome"
                placeholder="Informe o nome do cliente">
        </div>
        <div class="form-group col-md-3">
            <label for="fone">Telefone</label>
            <input formControlName="fone" type="text" class="form-control" id="fone" placeholder="(00) 00000-0000">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input formControlName="email" type="text" class="form-control" id="email" placeholder="Informe um email">
        </div>
    </div>
    <hr>
    <div class="form-row">
        <div class="form-group col-6">
            <label for="relatado">Problema Relatado</label>
            <textarea formControlName="relatado" style="resize: none" class="form-control" id="relatado"
                rows="3"></textarea>
            <small class="form-text text-muted float-right mt-2">0/500</small>
        </div>
        <div class="form-group col-6">
            <label for="diagnosticado">Problema Diagnosticado</label>
            <textarea formControlName="diagnosticado" style="resize: none" class="form-control" id="diagnosticado"
                rows="3"></textarea>
            <small class="form-text text-muted float-right mt-2">0/500</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="servico">Serviço</label>
            <select formControlName="servico" id="servico" class="form-control">
                <option selected>Selecione</option>
                <option *ngFor="let s of services" [ngValue]="s.value">
                    {{ s.name }}
                </option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <label for="pecas">Peças</label>
            <input formControlName="pecas" type="text" class="form-control" id="pecas" placeholder="Peças trocadas">
        </div>
        <div class="form-group col-md-4">
            <label for="valor">Valor</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">R$</span>
                </div>
                <input formControlName="valor" type="text" class="form-control" id="valor" placeholder="0,00">
            </div>
        </div>
        <!-- <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div> -->
    </div>
    <hr>
    <div class="text-center">
        <button [disabled]="orcamentoForm.invalid" type="submit" class="btn btn-primary col-md-2">Salvar OS</button>
    </div>
</form>