<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
            <div class="row-img">
                <img width="350" [src]="'assets/icons/loho.svg'" alt="">
            </div>
            <div class="card card-signin">
                <div class="card-body">
                    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                        {{ errorMessage }}
                    </div>
                    <form [formGroup]="formLogin" class="form-signin">
                        <div class="form-label-group">
                            <label for="login">Login</label>
                            <input formControlName="email" type="text" id="login" class="form-control"
                                placeholder="Informe o login">
                        </div>
                        <div class="form-label-group mt-3 mb-4">
                            <label for="senha">Senha</label>
                            <input formControlName="senha" type="password" id="senha" class="form-control"
                                placeholder="Informe a senha">
                        </div>

                        <button (click)="login()" [disabled]="formLogin.invalid"
                            class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
                            <div *ngIf="submitting" class="d-flex align-items-center">
                                <span>Acessando ...</span>
                                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                            </div>
                            {{ submitting ? '' : 'Acessar' }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>