<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h1 class="card-title text-center text-uppercase">
                        <strong>Smart</strong>
                    </h1>
                    <h3 class="card-subtitle text-center mb-2 text-muted">
                        mechanical
                    </h3>
                    <hr>
                    <form [formGroup]="formLogin" class="form-signin">
                        <div class="form-label-group">
                            <label for="login">Login</label>
                            <input formControlName="login" type="text" id="login" class="form-control" placeholder="Informe o login">
                        </div>
                        <div class="form-label-group mt-3 mb-4">
                            <label for="senha">Senha</label>
                            <input formControlName="senha" type="password" id="senha" class="form-control" placeholder="Informe a senha">
                        </div>

                        <button 
                            (click)="login()"
                            [disabled]="formLogin.invalid"
                            class="btn btn-lg btn-primary btn-block text-uppercase"
                            type="submit">Acessar</button>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>