.image-logo {
    margin-right: 20px;
}

.item-chat {
    width: 70vw;
    padding-top: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
    border: 1px solid #7386d550;
}

.light-b {
    background-color: #7386d533;
}

.text-b {
    color: black;
}

.radios {
    margin-left: 13%;
}

.client-item {
    padding-bottom: 15px;
    margin-left: 11%;
    background-color: white;
}