<div *ngIf="!osList.length && !error" class="d-flex justify-content-center">
	<div class="spinner-border" role="status"></div>
</div>
<div *ngIf="error" class="d-flex justify-content-center">
	<i class="pi pi-ban"></i>
	<br>
	<span>Houver um erro inesperado. Tente novamente mais tarde</span>
</div>
<div *ngIf="osList.length" class="wrapper">

	<h2>
		<strong>
			Ordens de Serviço
		</strong>
	</h2>
	<table class="table table-striped mt-2">
		<thead>
			<tr>
				<th scope="col">Data</th>
				<th scope="col">Número OS</th>
				<th scope="col">Cliente</th>
				<th class="text-center" scope="col">Serviço(s)</th>
				<th scope="col">Valor Total</th>
				<th class="text-center" scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let os of osList">
				<td>{{ os.dataAbertura | date: 'dd/MM/yyyy' }}</td>
				<td>{{ os.referencia }}</td>
				<td>{{ os.carro.cliente.nome }}</td>
				<td class="text-center">
					<a (click)="getServices(os)" id="serviceModal" data-toggle="modal" data-target="#servicos">
						<i class="pi pi-list"></i>
					</a>
				</td>
				<td>{{ totalValue(os) | currency: 'BRL' }}</td>
				<td class="text-center">
					<span class="badge {{ setStatus(os.status).classBadge }}">
						{{ setStatus(os.status).status }}
					</span>
				</td>
			</tr>
		</tbody>
	</table>

</div>

<app-modal size="modal-lg" modalName="servicos" titleText="Serviços Contratados">
    <div body>
        <div *ngIf="servicosContratados" class="wrapper">
            <div class="row">
                <div class="col-md-6">
                    <label for="relatado">
                        <strong>Problema Relatado</strong>
                    </label>
                    <br>
                    <span id="relatado">
                        {{ servicosContratados.problemaRelatado }}
                    </span>
                </div>
                <div class="col-md-6">
                    <label for="diagnosticado">
                        <strong>Problema Diagnosticado</strong>
                    </label>
                    <br>
                    <span id="diagnosticado">
                        {{ servicosContratados.problemaDescrito }}
                    </span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <label for="carro">
                        <strong>Veículo</strong>
                    </label>
                    <br>
                    <span id="carro">{{ servicosContratados.carro.marca }} | {{ servicosContratados.carro.modelo }}</span>
                </div>
            </div>
            <div class="row">
                <table class="table mt-4">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let servicos of servicosContratados.servicos">
                            <td>{{ servicos.servico.nome }}</td>
                            <td>{{ servicos.valorServico | currency: 'BRL' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</app-modal>